@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f172a; /* Custom dark mode slate-900 */
    color: #f8fafc; /* slate-50 */
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@keyframes shine {
    0% { transform: translateX(-150%) skewX(-20deg); }
    100% { transform: translateX(200%) skewX(-20deg); }
}